/%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
/ :javascript
/   window.jQuery || document.write('<script src="javascripts/jquery-1.9.1.min.js"><\/script>')
= javascript_include_tag "interfaces/vendor/jquery-1.9.1.min"
= javascript_include_tag "interfaces/vendor/foundation.min"
=# javascript_include_tag "vendor/foundation.reveal"
= javascript_include_tag "interfaces/plugins"
= javascript_include_tag "interfaces/vendor/select2.min"
= javascript_include_tag "interfaces/vendor/placeholder"
= javascript_include_tag "interfaces/app"

/Initialize Zurb Foundation
:javascript
  $(document).foundation(
  'reveal', {
    animation: 'fadeAndPop',
    animation_speed: 250
  });

