!!!5

%html.no-js{:lang => "en"}
  = partial 'layouts/partials/head'
  %body  
    .off-canvas-wrap
      .main-wrap
        = partial "layouts/partials/header"
        -#content
        .main-content-block.inner-wrap
          %section.main-section
            .main-section__inner
              = yield
          %aside.sidebar.left-off-canvas
            = partial "layouts/partials/sidebar"    

    -#End content
    = partial "layouts/partials/footer"