<section class="doc-section">
  <h1>Pane</h1>
  <p>Seperation is key.</p>
</section>

<section class="doc-section">
  <h1><pre>.pane / .pane__body</pre></h1>

  <%= code_sample do %>
<div class="pane">
  <div class="pane__body">
    This is a pane.
  </div>
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.pane.pane--naked</pre></h1>

  <%= code_sample do %>
<div class="pane pane--naked">
  <div class="pane__body">
    This pane has a transparent background.
  </div>
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.pane.pane--muted</pre></h1>

  <%= code_sample do %>
<div class="pane pane--muted">
  <div class="pane__body">
    This pane has a lightgray background color.
  </div>
</div>
  <% end %>
</section>


<section class="doc-section">
  <h1><pre>.pane__header / .pane-title</pre></h1>

  <%= code_sample do %>
<div class="pane">
  <div class="pane__header">
    <div class="pane-title">
      Pane header
    </div>
  </div>

  <div class="pane__body">
    Pane body
  </div>
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.pane__footer</pre></h1>

  <%= code_sample do %>
<div class="pane">
  <div class="pane__body">
    Pane body
  </div>

  <div class="pane__footer">
    Pane footer
  </div>
</div>
  <% end %>
</section>
