<!doctype html>
<html class="no-js" lang="en">
  <%= render '/layouts/interfaces/partials/head' %>

  <body>
    <%= interfaces_wrap do %>
      <%# find a better place for these fake objects %>
      <% interfaces_person       = OpenStruct.new(id: 1, account_center_id: 1, name: "Interfaces User") %>
      <% interfaces_organization = OpenStruct.new(name: "Interfaces Organization") %>

      <%= interfaces_header person: interfaces_person, organization: interfaces_organization, person_profile_path: "#" do %>
        <div class="tobap_route-group">
          <a
          class="topbar_route"
          href="/interfaces">
            <span class="topbar_route_icon icon interfaces-services" aria-hidden="true"></span>
            CSS
          </a>

          <a
          class="topbar_route"
          href="/interfaces/js">
            <span class="topbar_route_icon icon interfaces-services" aria-hidden="true"></span>
            JS
          </a>

          <a
          class="topbar_route"
          href="https://github.com/ministrycentered/interfaces/wiki/API-extensions">
            <span class="topbar_route_icon icon interfaces-services" aria-hidden="true"></span>
            Wiki (Github)
          </a>
        </div>
      <% end %>

      <%= interfaces_content do %>
        <%= interfaces_main do %>

          <%= yield %>

        <% end %>
      <% end %>

    <% end %>

    <%= interfaces_footer do %>
      Designed in CA <span class="pco-ui-pco" aria-hidden="true"></span> Copyright <%= Date.current.year %>
    <% end %>

    <%= interfaces_helpdesk %>
  </body>
</html>
