<div class="account-switcher-organization-item" style="line-height: 9px; padding-left: 12px">
  <span
    class="account-switcher-item_link-name"
    style="color: #565656;

          height:28px !important;
          font-weight: bolder;

          width: calc(100% - 75px);
          display: inline-block;
          height: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0;
          margin: 0;
          line-height: 44px;">
    <%= Person.current.name %>
  </span>

  <a
    href="<%= PCO::URL.accounts "link", "new" %>?to=<%= Person.current.account_center_id %>&return=Accounts%2f"
    class="account-switcher-item_link"
    style="color: #565656;
          width: calc(100% - 75px);
          display: inline-block;
          height: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 0;
          margin: 0;
          line-height: 44px;">
    <%= Organization.current.name %>
  </a>

  <a
    class="account-switcher_logout_link"
    href="<%= PCO::URL.accounts "logout" %>">logout</a>
</div>
<%= react_component "ConnectedPersonListContainer",
                    {
                      currentPersonId: Person.current.account_center_id,
                      railsAppName: current_app,
                      railsEnv: Rails.env
                    } %>
