<div class="top-bar">
  <div class="top-bar__contents clearfix">
    <div class="title-area">
      <div class="app-switcher-wrap" data-app-list="toggle">
        <div id="logo" class="bookmark icon-<%= app_name %>-logo" aria-hidden="true"></div>
        <div class="app-switcher">
          <div class="toggle-btn" data-app-list="show">
            <div class="chevron"></div>
          </div>

          <div class="menu-wrap">
            <div class="toggle-btn-cover" data-app-list="hide">
              <span class="interfaces-remove"></span>
            </div>

            <ul>
              <% available_apps.each do |name| %>
                <li class="<%= name.downcase %> <%= (:omega if available_apps.length == 1) %>">
                  <a href="<%= PCO::URL.send(name.downcase.underscore) %>">
                    <span class="icon" aria-hidden="true"></span>
                    <em>planning center</em>
                    <%= name %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div id="toggle-sidebar" class="menu-icon show-for-mobile">
        <a href="#"><span class="title">Sidebar</span><span class="interfaces-cog" aria-hidden="true"></span></a>
      </div>

      <div id="toggle-topbar" class="menu-icon show-for-mobile" data-top-bar="toggle">
        <a href="#"><span class="title">Menu</span><span class="interfaces-menu" aria-hidden="true"></span></a>
      </div>
    </div>

    <section class="top-bar-section">
      <div class="top-nav-options">
        <% if account_switcher_supported? %>
          <nav class="global-nav lefty" role="menubar" title="Main Site Navigation">
            <ul>
              <li class="divider"></li>

              <%= yield %>
            </ul>

            <div class="top-bar-quarantine" style="clear: both; border-top: 1px solid #222">
              <div
               data-person-profile-link
               data-person-id="<%= person.id %>"
               style="text-align: left; color: white; padding-left: 20px">
                <%= person %> <%= organization %>
              </div>
              <% if person.staff? %>
                <a
                  style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
                  href="<%= PCO::URL.accounts "administration" %>">admin</a>
              <% end %>
              <a
               style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
               id="jsLaunchHelpdesk">help</a>
              <a
                style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
                href="<%= PCO::URL.accounts "logout" %>">logout</a>
            </div>
          </nav>
        <% else %>
          <nav class="global-nav lefty" role="menubar" title="Main Site Navigation">
            <ul>
              <li class="divider"></li>

              <%= yield %>
            </ul>
          </nav>
        <% end %>

        <% if account_switcher_supported? %>
          <%= render "interfaces/user_help" %>
          <%= render partial: "interfaces/user_badge",
                     locals:  { person: person,
                                organization: organization,
                                profile_path: profile_path } %>
        <% else %>
          <%= render partial: "interfaces/legacy_account_section",
                     locals:  { person: person,
                                organization: organization } %>
        <% end %>

      </div>
    </section>
  </div>
</div>
