<% if application_class_name != "services" %>
  <div class="mobile-topbar topbar">
    <%= react_component "MobileTopbar", {
          routes: yield,
          railsAppName: "account-center"
        } %>
  </div>
<% end %>

<div class="topbar" data-constraints="non-mobile">
  <div class="app-badge_container"
    onclick="
      $('body').toggleClass('i-topbar_applist-is-expanded');
      $(document).trigger('app-badge:clicked');
    "
    onmouseenter="$(document).trigger('app-badge:hovered');">
    <div class="app-badge" data-constraints="non-mobile">
      <div class="app-badge_button">
        <div id="logo" class="topbar-logo">
          <%= ii("#{app_name}-badge", size: "12rem", class_name: "bookmark-svg") %>
        </div>
        <i class="app-badge_chevron ii ii-chevron-down"></i>
      </div>

      <div class="topbar_applist" data-constraints="non-mobile">
        <%= react_component "AppListContainer", { railsEnv: Rails.env } %>
      </div>
    </div>
  </div>

  <section class="top-bar-section">
    <%= yield %>

    <div class="top-bar-quarantine" style="clear: both; border-top: 1px solid #222">
      <div
        data-person-profile-link
        data-person-id="<%= person.id %>"
        style="text-align: left; color: white; padding-left: 20px">
        <%= person.name %> <%= organization.name %>
      </div>
      <% if person.staff? %>
        <a
          style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
          href="<%= PCO::URL.accounts "administration" %>">admin</a>
      <% end %>
      <a
        style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
        id="jsLaunchHelpdesk">help</a>
      <a
        style="text-align: left; color: white; padding-left: 20px; border-top: 1px solid #222"
        href="<%= PCO::URL.accounts "logout" %>">logout</a>
    </div>

    <% if settings_path.present? %>
      <%= render partial: "interfaces/app_settings",
                 locals: { settings_path: settings_path } %>
    <% end %>

    <%= render "interfaces/user_help" %>

    <%= render partial: "interfaces/user_badge",
                locals:  { person: person,
                           organization: organization,
                           profile_path: profile_path } %>
  </section>
</div>
