<%= interfaces_wrap do %>
  <%= interfaces_header do %>
    <li>
      <a href="/organization">
        <span class="ii ii-services-app" aria-hidden="true"></span>
        <span class="btn-label">Organization (fake)</span>
      </a>
    </li>

    <li class="divider"></li>

    <li>
      <a href="/subscriptions">
        <span class="ii ii-resources-app" aria-hidden="true"></span>
        <span class="btn-label">Applications (fake)</a>
      </a>
    </li>

    <li class="divider">

    <li>
      <a href="/payment_method">
        <span class="ii ii-projector-app" aria-hidden="true"></span>
        <span class="btn-label">Payment Options (fake)</a>
      </a>
    </li>

    <li class="divider"></li>
  <% end %>

  <%= interfaces_content do %>
    <%= interfaces_main do %>
      <%= yield %>
    <% end %>

   <% end %>

<% end %>

<%= interfaces_footer do %>
  Designed in CA <span class="pco-ui-pco" aria-hidden="true"> Copyright <%= Date.current.year %>
<% end %>
