<div class="account-info righty <%= "hide-desktop" if account_switcher_supported? %>">
  <%= render partial: "interfaces/legacy_header_avatar",
             locals:  { person: person,
                        organization: organization} %>

  <div id="toggle-account-details" data-account-info="toggle">
    <span class="interfaces-caret" aria-hidden="true"></span>
  </div>

  <div id="account-details">
    <ul class="identity">
      <% if person.present? %>
        <li class="section-heading">
          <% if app_name == "account-center" %>
            <a href='#'><%= person.name %></a>
          <% else %>
            <a href="/people/<%= person.id %>">
              <%= person.name %>
            </a>
          <% end %>
          <span></span><!-- looks like a joke but it isn't -->
          <%= organization %>
        </li>
      <% end %>
    </ul>

    <ul class="utilities">
      <% if person.staff? %>
        <li>
          <a href="<%= PCO::URL.accounts "administration" %>">
            <span class="interfaces-admin"></span>
            admin
          </a>
        </li>
      <% end %>

      <li>
        <a id="jsLaunchHelpdesk" href="#">
          <span class="interfaces-faq"></span>
          help
        </a>
      </li>

      <li>
        <a class="log" href="<%= PCO::URL.accounts "logout" %>">
          <span class="interfaces-logout"></span>
          logout
        </a>
      </li>
    </ul>
  </div>
</div>
