<h1>Alert</h1>
<p>Tell people they're doing it wrong... or right.</p>

<section class="doc-section">
  <h1><pre>alert</pre></h1>

  <%= code_sample do %>
<div class="alert">
  Alert
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>alert.alert--warning</pre></h1>

  <%= code_sample do %>
<div class="alert alert--warning">
  Warning
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>alert.alert--danger</pre></h1>

  <%= code_sample do %>
<div class="alert alert--danger">
  Danger
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>alert.alert--success</pre></h1>

  <%= code_sample do %>
<div class="alert alert--success">
  Success
</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>alert.alert--subtle</pre></h1>

  <%= code_sample do %>
<div class="alert alert--subtle">
  Subtle
</div>
  <% end %>
</section>
