<section class="doc-section">
  <h1>Badge</h1>
  <p>Tell people what's up.</p>
</section>

<section class="doc-section">
  <h1><pre>badge</pre></h1>

  <%= code_sample do %>
    <div class="badge">badge</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--warning</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--warning">warning</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--danger</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--danger">danger</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--success</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--success">success</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--subtle</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--subtle">subtle</div>
  <% end %>
</section>

<section class="doc-section">
  <h1>Badge &ndash; Size and Shape</h1>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--small</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--small">small</div>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>badge.badge--tiny</pre></h1>

  <%= code_sample do %>
    <div class="badge badge--tiny">tiny</div>
  <% end %>
</section>
