<section class="doc-section">
  <h1>Button</h1>
  <p>Tell people where to go and what to do.</p>
</section>

<section class="doc-section">
  <h1><pre>btn</pre></h1>

  <%= code_sample do %>
    <button class="btn" type="button">Benign Action</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn[disabled]</pre></h1>

  <%= code_sample do %>
    <button class="btn" type="button" disabled>Disabled Action</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--success</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--success" type="button">Persisted Action</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--danger</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--danger" type="button">Dangerous Action</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--primary</pre></h1>

  <%= code_sample do %>
    <a class="btn btn--primary" href="#">Anchor</a>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--outline</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--outline" type="button">Outlined Action</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--large</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--large" type="button">Large</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--small</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--small" type="button">Small</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--tiny</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--tiny" type="button">Tiny</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn.btn--micro</pre></h1>

  <%= code_sample do %>
    <button class="btn btn--micro" type="button">Micro</button>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn-group</pre></h1>

  <p>JavaScript-backed list-items</p>

  <%= code_sample do %>
<ul class="btn-group">
  <li class="btn">First</li>
  <li class="btn">Second</li>
  <li class="btn">Third</li>
</ul>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>btn-group</pre></h1>

  <p>List with nested anchor syntax</p>

  <%= code_sample do %>
<ul class="btn-group">
  <li>
    <a class="btn" href="#">First</a>
  </li>
  <li>
    <a class="btn" href="#">Second</a>
  </li>
  <li>
    <a class="btn" href="#">Third</a>
  </li>
</ul>
  <% end %>
</section>
