<h1>Button</h1>
<p>Tell people where to go and what to do.</p>

<section class="doc-section">
  <h1><pre>.has-tip[data-tip]</pre></h1>

  <%= code_sample do %>
    <span class="has-tip" data-tip="A tooltip">Default (hover)</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip[data-tip]</pre></h1>

  <%= code_sample do %>
    <span class="has-tip">Warning no data-attr (hover)</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip[data-tip=""]</pre></h1>

  <%= code_sample do %>
    <span class="has-tip" data-tip="">Doesn't display empty data-tip(hover)</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.tip--right</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--right" data-tip="A tooltip">right</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.tip--bottom</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--bottom" data-tip="A tooltip">bottom</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.tip--left</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--left" data-tip="A tooltip">left</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.anchor--right</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--anchor-right" data-tip="A tooltip">anchor-right</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.anchor--left</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--anchor-left" data-tip="A tooltip">anchor-left</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.flow--right</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--flow-right" data-tip="A tooltip">flow-right</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.flow--left</pre></h1>

  <%= code_sample do %>
    <span class="has-tip tip--flow-left" data-tip="A tooltip">flow-left</span>
  <% end %>
</section>

<section class="doc-section">
  <h1><pre>.has-tip.tip--multiline</pre></h1>

  <%= code_sample do %>
<span
 class="has-tip tip--multiline"
 data-tip="A tooltip that must be exceptionally long to demonstrate multiline">
  multiline
</span>
  <% end %>
</section>
